@page
@model DMSpro.P42.Web.Pages.IndexModel
@using DMSpro.P42.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.P42.Localization
@using System.Text.Json
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.Security.Claims
@using Volo.Abp.Users
@inject IHtmlLocalizer<P42Resource> L
@inject ICurrentUser CurrentUser
@inject IPageLayout PageLayout

@{
    PageLayout.Content.Title = L["Home"].Value;
    PageLayout.Content.MenuItemName = P42Menus.Home;
}

@section scripts {
    <abp-script src="/Pages/Index.js" />
}

<abp-card>
    <abp-card-body>
            @*<p>@L["LongWelcomeMessage"]</p>*@
        @if (!CurrentUser.IsAuthenticated)
        {
            <form method="POST">
                <input type="submit" asp-page-handler="Login" value="LOGIN" class="btn btn-primary" />
            </form>
        }
        else
        {
            @*<div>
                <h3>Current claims:</h3>
                <ul>
                    @foreach (var claim in CurrentUser.GetAllClaims().OrderBy(c => c.Type))
                    {
                        <li>@claim.Type: <strong>@claim.Value</strong></li>
                    }
                </ul>
            </div>*@

            <div id="gridContainer"></div>
        }
        <hr />
        @*<p class="text-end"><a href="https://abp.io?ref=tmpl" target="_blank">abp.io</a></p>*@
    </abp-card-body>
</abp-card>

<script type="text/javascript">
    const ds = @Html.Raw(JsonSerializer.Serialize(CurrentUser.GetAllClaims().OrderBy(c => c.Type).Select(x => new {x.Type, x.Value, x.Subject.Name})));
</script>