@page
@using Microsoft.Extensions.Localization
@using DMSpro.P42.SO.Localization
@using DMSpro.P42.SO.Web.Pages.SO
@model DMSpro.P42.SO.Web.Pages.SO.IndexModel
@inject IStringLocalizer<SOResource> L

@{
}
<h1>SO</h1>
<p>@L["SamplePageMessage"]</p>
