@page
@using Microsoft.Extensions.Localization
@using DMSpro.P42.MDM.Localization
@using DMSpro.P42.MDM.Web.Pages.MDM
@model DMSpro.P42.MDM.Web.Pages.MDM.IndexModel
@inject IStringLocalizer<MDMResource> L

@{
}
<h1>MDM</h1>
<p>@L["SamplePageMessage"]</p>
