@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.P42.Localization
@inject IHtmlLocalizer<P42Resource> L
<a class="btn" role="button" href="~/Account/Login"><i class="fa fa-sign-in me-1"></i> @L["Login"]</a>
